# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
coverage.xml
/htmlcov
.pytest_cache/

# Poetry
poetry.lock

# Sphinx documentation
docs/build/
docs/source/_build
docs/source/api/generated

# Jupyter-book
cdti/_build

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv

# mypy
.mypy_cache/

# VScode
.vscode/

# working directories
/data
/developement
/evaluation
/docs
/experiments_1
/experiments_2
/training

# models and results
*.pt
*weights.txt
*dev.tsv
*test.tsv

# apex if needed
/apex

# sample
/samples/.git/*