# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Sphinx documentation
docs/build/
docs/source/_build
docs/source/api/generated

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv

# mypy
.mypy_cache/

# VScode
.vscode/

# working directories
/data
/developement
/evaluation
/docs
/_experiments
/experiments

# models and results
*.pt
*weights.txt
*dev.tsv
*test.tsv